.header {
  background: $color-green;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;

  &__icon {
    @include centered-icon();
    margin-right: 8px;

    &-with-bg {
      background: linear-gradient(180deg, #88C144 0%, #83BC3F 100%);
    }
  }

  &__svg {
    width: 19px;
    height: 19px;
    fill: $color-white;
  }

  &__menu__button {
    display: block;
    position: absolute;
    right: -56px;
    background: $color-grey;
  }
}

.page__logo {
  width: 180px;
  height: 92px;
}

.page {
  &__menu {
    flex: 1 0 auto;
  }

  .nav {
    margin-bottom: 13px;

    &__link {
      @include centered-item();
      background: linear-gradient(180deg, $color-green 0%, #8CC549 100%), linear-gradient(180deg, $color-green 0%, #88C046 100%);;
      text-decoration: none;
      color: $color-white;
      font-size: 18px;
      line-height: 23px;
    }
  }
}

