$color-green: #8EC84A;
$color-light-grey: #6B737B;
$color-dark-grey: #3d3d3d;
$color-grey: #4b4b4b;
$color-bg: #E5E5E5;
$color-white: #ffffff;
$color-extra-light-grey: #828991;
$color-text-grey: #4B4C4F;
$color-border: #D0D4DF;
$color-placehorder: #8F979F;
$color-purple: #6B236D;
$color-blue: #1B80B1;
$color-info-bg: #F8FAFC;
$color-reject: #B01919;

$desktop-width: 720px;
